.App {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
    border: 1px solid #ffffff;
    
    a {
      text-decoration: none;
      color: #ffffff;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    .title {
      text-align: center;
      margin: 20px;
      color: #ffffff;
  
      h1 {
        font-size: 3rem;
        font-weight: 300;
        margin: 0;
      }
      p {
        font-size: 24px;
      }
      button {
        background-color: #ffffff;
        color: #612378;
        border: none;
        font-size: 24px;
        padding: 15px 50px;
        font-family: 'Chakra Petch', sans-serif;
      }
    }

    .about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5rem;
      gap: 3rem;
      color: #ffffff;

      .content {
        h3 {
          font-weight: 300;
          font-size: 45px;
        }
  
        p {
          font-size: 30px;
        }
      }

      .image {
        width: 30rem;
        height: 30rem;
        border: 2px solid #ffffff;
      }
    }

    .review {
      color: #ffffff; 
      h3 {
        font-size: 45px;
        font-weight: 300;
        text-align: center;
      }

      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5rem;
        text-align: center;
        gap: 2rem;

        .user {
          .image {
            border: 1px solid #ffffff;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}
